kpkw-form,
#kpkw-form {
    /*display: block;*/
    padding: 0em;
    margin: 5px;
}

.divIncome{
    display: block;
    height: 65px;
}

.divIncomeCard{
    display: block;
    height: 65px;
}

.divBank {
    display: block;
    height: 65px;
}

.divCashInvoice {
    display: block;
    height: 65px;
}

.divTransfer {
    display: block;
    height: 65px;
}

.divCommission {
    display: block;
    height: 65px;
}

.divWorker {
    display: block;
    height: 65px;
}

.divSalary {
    display: block;
    height: 65px;
}

.divClient {
    display: block;
    height: 65px;
}

.buttonsFooter {
    margin-top: 10px;
}

.divTypeAndDate {
    display: flex;
    justify-content: space-between;
}

.docRdocCode {
    width: 220px;
}