cash-kpkw-view,
#cash-kpkw-view {
    /*display: block;*/
    padding: 0em;
    margin: 5px;
}

.gridCashKpKw {
    width: 250px;
    height: 400px;
}

.formKpKw {
    width: 400px;
}


.gridClient {
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
}