cash-kpkw-view,
#cash-kpkw-view {
    /*display: block;*/
    padding: 0em;
    margin: 5px;
}

.gridCashKpKw {
    width: 250px;
    height: 530px;
}

.formKpKw {
    width: 520px;
}

.labMoneyInCash {
    color: green;
}

.gridClient {
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
}