cash-register-view,
#cash-register-view {
    /*display: block;*/
    padding: 0em;
    margin: 5px;
}


.gridCashRegisters {
    width: 8%;
    height: 98%;
    color: black;
    background: yellow;
}

.gridCashReports {
    margin: 0px;
}

.h01 {
    width: 100%;
    height: 98%;
}

. butAdd {
    margin: 2px;
    padding: 0em;
}

.vlReports {
    width: 90%;
    height: 50%;
    margin-right: 15px;
    margin: 0px;
}

.hlReportsHeader {
    margin: 0px;
}